#timeline-box {
  padding: 10px 30px;
}

#timeline-box .header {
  padding: 30px 0;
}

#timeline-box span {
  font-weight: bold;
  padding-right: 20px;
}

@media (min-width: 960px) {
  #navbar-container .blurb {
    padding: 40px 60px;
    margin-top: auto;
  }
  #timeline-box {
    padding: 40px 60px;
  }
}
